In [301]:
import pandas as pd

In [302]:
df = pd.read_csv("data/train.csv")

In [303]:
df

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q

In [304]:
df.columns

Index(['PassengerId', 'Survived', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp',
       'Parch', 'Ticket', 'Fare', 'Cabin', 'Embarked'],
      dtype='object')

In [305]:
for col in df.columns:
    print(f"{col} - {df[df[col].isna()].shape}")

PassengerId - (0, 12)
Survived - (0, 12)
Pclass - (0, 12)
Name - (0, 12)
Sex - (0, 12)
Age - (177, 12)
SibSp - (0, 12)
Parch - (0, 12)
Ticket - (0, 12)
Fare - (0, 12)
Cabin - (687, 12)
Embarked - (2, 12)

In [306]:
c1 = df.drop(["Name", "Cabin", "Ticket"], axis=1)

In [307]:
c2 = c1.dropna()

In [308]:
for col in c2.columns:
    print(f"{col} - {c2[c2[col].isna()].shape}")

PassengerId - (0, 9)
Survived - (0, 9)
Pclass - (0, 9)
Sex - (0, 9)
Age - (0, 9)
SibSp - (0, 9)
Parch - (0, 9)
Fare - (0, 9)
Embarked - (0, 9)

In [309]:
c2

,PassengerId,Survived,Pclass,Sex,Age,SibSp,Parch,Fare,Embarked
0,1,0,3,male,22.0,1,0,7.2500,S
1,2,1,1,female,38.0,1,0,71.2833,C
2,3,1,3,female,26.0,0,0,7.9250,S
3,4,1,1,female,35.0,1,0,53.1000,S
4,5,0,3,male,35.0,0,0,8.0500,S
...,...,...,...,...,...,...,...,...,...
885,886,0,3,female,39.0,0,5,29.1250,Q
886,887,0,2,male,27.0,0,0,13.0000,S
887,888,1,1,female,19.0,0,0,30.0000,S
889,890,1,1,male,26.0,0,0,30.0000,C
890,891,0,3,male,32.0,0,0,7.7500,Q

In [310]:
c3 = c2.drop("Survived", axis=1)
y = c2["Survived"]

In [315]:
c3,y

(     PassengerId  Pclass     Sex   Age  SibSp  Parch     Fare Embarked
 0              1       3    male  22.0      1      0   7.2500        S
 1              2       1  female  38.0      1      0  71.2833        C
 2              3       3  female  26.0      0      0   7.9250        S
 3              4       1  female  35.0      1      0  53.1000        S
 4              5       3    male  35.0      0      0   8.0500        S
 ..           ...     ...     ...   ...    ...    ...      ...      ...
 885          886       3  female  39.0      0      5  29.1250        Q
 886          887       2    male  27.0      0      0  13.0000        S
 887          888       1  female  19.0      0      0  30.0000        S
 889          890       1    male  26.0      0      0  30.0000        C
 890          891       3    male  32.0      0      0   7.7500        Q

 [712 rows x 8 columns], 0      0
 1      1
 2      1
 3      1
 4      0
       ..
 885    0
 886    0
 887    1
 889    1
 890    0
 Name: Survived, Length: 712, dtype: int64)

In [316]:
c3v = c3.values
c3v

array([[1, 3, 'male', ..., 0, 7.25, 'S'],
       [2, 1, 'female', ..., 0, 71.2833, 'C'],
       [3, 3, 'female', ..., 0, 7.925, 'S'],
       ...,
       [888, 1, 'female', ..., 0, 30.0, 'S'],
       [890, 1, 'male', ..., 0, 30.0, 'C'],
       [891, 3, 'male', ..., 0, 7.75, 'Q']], dtype=object)

In [317]:
from sklearn.preprocessing import LabelEncoder

In [318]:
le_sex = LabelEncoder()
c3v[:,2] = le_sex.fit_transform(c3v[:,2])

le_emb = LabelEncoder()
c3v[:,7] = le_emb.fit_transform(c3v[:,7])

In [319]:
d = pd.DataFrame(c3v)
d[7].describe()

count     712
unique      3
top         2
freq      554
Name: 7, dtype: int64

In [321]:
from sklearn.preprocessing import OneHotEncoder
from sklearn.compose import ColumnTransformer

In [322]:
ohe = OneHotEncoder(categorical_features=[2,7],
                   handle_unknown="ignore")

In [323]:
c4a = ohe.fit_transform(c3v).toarray()

C:\ProgramData\Anaconda3\lib\site-packages\sklearn\preprocessing\_encoders.py:451: DeprecationWarning: The 'categorical_features' keyword is deprecated in version 0.20 and will be removed in 0.22. You can use the ColumnTransformer instead.
  "use the ColumnTransformer instead.", DeprecationWarning)

In [324]:
c4 = pd.DataFrame(c4a)

In [327]:
X = c4
X

       0    1    2    3    4      5    6     7    8    9       10
0    0.0  1.0  0.0  0.0  1.0    1.0  3.0  22.0  1.0  0.0   7.2500
1    1.0  0.0  1.0  0.0  0.0    2.0  1.0  38.0  1.0  0.0  71.2833
2    1.0  0.0  0.0  0.0  1.0    3.0  3.0  26.0  0.0  0.0   7.9250
3    1.0  0.0  0.0  0.0  1.0    4.0  1.0  35.0  1.0  0.0  53.1000
4    0.0  1.0  0.0  0.0  1.0    5.0  3.0  35.0  0.0  0.0   8.0500
..   ...  ...  ...  ...  ...    ...  ...   ...  ...  ...      ...
707  1.0  0.0  0.0  1.0  0.0  886.0  3.0  39.0  0.0  5.0  29.1250
708  0.0  1.0  0.0  0.0  1.0  887.0  2.0  27.0  0.0  0.0  13.0000
709  1.0  0.0  0.0  0.0  1.0  888.0  1.0  19.0  0.0  0.0  30.0000
710  0.0  1.0  1.0  0.0  0.0  890.0  1.0  26.0  0.0  0.0  30.0000
711  0.0  1.0  0.0  1.0  0.0  891.0  3.0  32.0  0.0  0.0   7.7500

[712 rows x 11 columns]

In [333]:
from sklearn.tree import DecisionTreeClassifier
from sklearn.naive_bayes import GaussianNB

def create_model():
    return create_DTC()


def create_DTC():
    return DecisionTreeClassifier()

def create_GNB():
    return GaussianNB()

In [338]:
from sklearn.model_selection import KFold         # 10-Fold Cross Validation
from sklearn.preprocessing import StandardScaler  # Standardizing input data
from sklearn.metrics import confusion_matrix      # calculating confusion matrix
from sklearn.metrics import f1_score              # calculating f1 score
import time                                       # to measure elapsed time
import os                                         # to create a folder for reporting

N_SPLIT = 10 # k-Fold k value

In [343]:
if not os.path.exists('reports'):
    os.makedirs('reports')

file = open("reports/DTC.txt", "w")

start = time.process_time()

# initializing variables for kFold run and F1_Score
current_fold = 0
total_f1s = 0

for train_index, test_index in KFold(N_SPLIT).split(X):
    current_fold += 1
    
    x_train, x_test = X[train_index], X[test_index]
    y_train, y_test = y[train_index], y[test_index]
    
    print("Hello")
    

end = time.process_time()
time_taken = f"Time Taken: {end-start}s\n"
print(time_taken)
file.write(time_taken)
    
file.close()

KeyError: "None of [Int64Index([ 72,  73,  74,  75,  76,  77,  78,  79,  80,  81,\n            ...\n            702, 703, 704, 705, 706, 707, 708, 709, 710, 711],\n           dtype='int64', length=640)] are in the [columns]"

In [336]:
if not os.path.exists('reports'):
    os.makedirs('reports')

file = open("reports/DTC.txt", "w")

start = time.process_time()

# initializing variables for kFold run and F1_Score
current_fold = 0
total_f1s = 0

for train_index, test_index in KFold(N_SPLIT).split(X):
    current_fold += 1
    
    x_train, x_test = X[train_index], X[test_index]
    y_train, y_test = y[train_index], y[test_index]
    
#     sc = StandardScaler()
#     x_train = sc.fit_transform(x_train)  # Fit and then transform. Process to fit is learnt here.
#     x_test = sc.transform(x_test)

    model=create_model()
    
    model.fit(x_train, y_train)

    print(f"FOLD-{current_fold}")
            
    # validating the model with test data set
    val_loss, val_acc = model.evaluate(x_test, y_test)
    print(f"Model Eval: Loss={val_loss}, Accuracy={val_acc}")
    
    # predicting the test set
    y_pred = model.predict([x_test])
    y_pred = (y_pred > 0.5)
    
    cm = confusion_matrix(y_test, y_pred)
    print(f"{current_fold}-FOLD")
    print(cm)
    
    f1_score(y_test, y_pred, average="macro")
    f1s = f1_score(y_test, y_pred, average="macro")
    print("F1 Score :", f1s)
    # average='macro' : Calculate metrics for each label, and find their unweighted mean. 
    # This does not take label imbalance into account
    
    # Recording fold
    total_f1s += f1s
    file.write(f"{current_fold}-FOLD | Model Eval: Loss={val_loss},\tAccuracy={val_acc},\tF1 Score={f1s},\tAverage F1 Score={total_f1s/current_fold}\n")
    

end = time.process_time()
time_taken = f"Time Taken: {end-start}s\n"
print(time_taken)
file.write(time_taken)
    
file.close()

KeyError: "None of [Int64Index([ 72,  73,  74,  75,  76,  77,  78,  79,  80,  81,\n            ...\n            702, 703, 704, 705, 706, 707, 708, 709, 710, 711],\n           dtype='int64', length=640)] are in the [columns]"